<br>
<br>
<div class="carsSaleTitle">
    <h1>Available Occasions:</h1>
</div>
<br>

<div class="container">
    <div class="row">
        {{#each cars}}
        <div class="col-md-4">
            <div class="card mb-3" style="max-width: 500px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <img src="{{this.image}}" class="img-fluid rounded-start" alt="{{this.model}}">
                    </div>
                    <div class="col-md-8 d-flex flex-column">
                        <div class="card-body">
                            <h5 class="card-title">{{this.make}} {{this.model}}</h5>
                            <h7 class="card-subtitle">Price: {{this.price}} euros</h7>
                            <p class="card-text">Year: {{this.year}}</p>
                            <p class="card-text">Location: {{this.location}} </p>
                            <p class="card-text"><small class="text-muted"> Seller: {{this.seller}}</small></p>
                            <a href="/cars/{{this._id}}">More details</a>
                        </div>
                        <div class="mt-auto"></div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>