<h1>{{this.make}}</h1>

<hr />

<h3>Model:</h3>
<p>{{this.model}}</p>


<img src={{this.image}} alt="">


<h3>Price:</h3>
<p>{{this.price}} euros</p>

<h3>Seller:</h3>
<p>{{this.seller}}</p>

<h3>Year:</h3>
<p>{{this.year}}</p>

<h3>KM driven:</h3>
<p>{{this.kmDriven}}</p>

<h3>Transmission:</h3>
<p>{{this.transmission}}</p>

<h3>Power:</h3>
<p>{{this.power}} horsepower</p>

<h3>location:</h3>
<p>{{this.location}}</p>


<a href="/cars/{{this._id}}/edit">Edit</a>


<hr />

<a href="/cars">Back</a>