<h1>{{this.make}}</h1>

{{!-- <hr />

<h3>Model:</h3>
<p>{{this.model}}</p>


<img src={{this.image}} alt="">


<h3>Price:</h3>
<p>{{this.price}} euros</p>

<h3>Seller:</h3>
<p>{{this.seller}}</p>

<h3>Year:</h3>
<p>{{this.year}}</p>

<h3>KM driven:</h3>
<p>{{this.kmDriven}}</p>

<h3>Transmission:</h3>
<p>{{this.transmission}}</p>

<h3>Power:</h3>
<p>{{this.power}} horsepower</p>

<h3>location:</h3>
<p>{{this.location}}</p> --}}

<div class="card" style="width: 26rem;">
    <img src="{{carFromDB.image}}" class="card-img" alt="{{carFromDB.model}}">
    <div class="card-body">
        <h5 class="card-title">{{carFromDB.make}} {{carFromDB.model}}</h5>
        <p class="card-text">Prices: {{carFromDB.price}}</p>
        <p class="card-text">Year: {{carFromDB.year}}</p>
        <p class="card-text">Location: {{carFromDB.location}} </p>
        <p class="card-text">km driven: {{carFromDB.kmDriven}} </p>
        <p class="card-text">Power: {{carFromDB.power}} hp </p>
        <p class="card-text">Transmission: {{carFromDB.transmission}} </p>
        <p class="card-text"><small class="text-muted"> Seller: {{carFromDB.seller}}</small></p>
    </div>
</div>

{{#isOwner user carFromDB }}
{{/isOwner}}



<hr />

<a href="/cars">Back</a>