<h1>Cars for sale:</h1>

{{#each cars}}
<section>

    <h2>{{this.model}}</h2>
    <p>
        Price: {{this.price}} <br />
        Seller: {{this.seller}} <br />
        Registration: {{this.registration}} <br />
        KM driven: {{this.kmDriven}} <br />
        Transmission: {{this.transmission}} <br />
        Power: {{this.power}} <br />
        Location: {{this.location}} <br />
        <a href="/cars/{{this._id}}">More details</a>
        <a href="/cars/{{this._id}}/edit">Edit</a>
    </p>

   <form action="/cars/{{_id}}/delete" method="POST">
        <button>Delete</button>
    </form>

</section>

<hr />
{{/each}}